    {extend name="common/base"/}
    {block name="title"}<title>管理员列表</title>{/block}

    {block name="content"}
    <title>管理员列表</title>
    {/block}
    {block name="content"}
    <!-- Page Content -->
    <div class="page-content">
        <!-- Page Breadcrumb -->
        <div class="page-breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <a href="{:url('index/index')}">系统</a>
                </li>
                <li class="active">管理员列表</li>
            </ul>
        </div>
        <!-- /Page Breadcrumb -->

        <!-- Page Body -->
        <div class="page-body">                    
            <button type="button" tooltip="添加用户" class="btn btn-sm btn-azure btn-addon" onClick="javascript:window.location.href = '{:url('add')}'"> <i class="fa fa-plus"></i> Add
            </button>
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <div class="widget">
                        <div class="widget-body">
                            <div class="flip-scroll">
                                <table class="table table-bordered table-hover">
                                    <thead class="">
                                        <tr>
                                            <th class="text-center" width="10%">ID</th>
                                            <th class="text-center" width="60%">管理员名称</th>
                                            <th class="text-center" width="10%">管理员头像</th>
                                            <th class="text-center" width="20%">操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {volist name="admins" id="vo"}
                                        <tr>
                                            <td align="center">{$vo.id}</td>
                                            <td align="center">{$vo.username}</td>
                                            <td align="center"><img src="{$vo.pic}" style="height:30px;"></td>
                                            <td align="center">
                                                <a href="{:url('admin/edit',array('id'=>$vo['id']))}" class="btn btn-primary btn-sm shiny">
                                                    <i class="fa fa-edit"></i> 编辑
                                                </a>
                                                <a href="#" onClick="warning('确实要删除吗', '{:url('admin/del',array('id'=>$vo['id']))}')" class="btn btn-danger btn-sm shiny">
                                                    <i class="fa fa-trash-o"></i> 删除
                                                </a>
                                            </td>
                                        </tr>
                                        {/volist}
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center" style="margin-top: 20px;">
                                {$admins|raw}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Page Body -->
    </div>
    <!-- /Page Content -->
    {/block}