{extend name="common/base" /}
{block name="title"}
<title>上岭后红薯小程序后台</title>
{/block}
{block name="content"}
<!-- Page Content -->
<div class="page-content">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
                            <li class="active">控制面板</li>
                            </ul>
    </div>
    <!-- /Page Breadcrumb -->

    <!-- Page Body -->
    <div class="page-body">
        
	<div style="text-align:center; line-height:1000%; font-size:24px;"></div>
    </div>
    

    </div>
    <!-- /Page Body -->
</div>
<!-- /Page Content -->
{/block}